/* app css stylesheet */

a:link, a:visited, a:hover, a:active {
  color:black;
  text-decoration: none;
}

body{
  margin : 0;
  color: black;
  font-family: 'Open Sans', sans-serif;
  /*background-color: lightblue;*/
}

.alveole{
  height: 245px;
  margin: 20px 0;
  padding: 10px 10px 0;
  cursor: pointer;
  background: #fff;
  position: relative;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #ebebeb 0 2px 0 -1px,#e1e1e1 0 4px 0 -2px,#fff 0 6px 0 -3px,#ebebeb 0 8px 0 -4px,#e1e1e1 0 10px 0 -5px,#fff 0 12px 0 -6px,rgba(0,0,0,0.2) 0 14px 2px -7px;
  -moz-box-shadow: #ebebeb 0 2px 0 -1px,#e1e1e1 0 4px 0 -2px,#fff 0 6px 0 -3px,#ebebeb 0 8px 0 -4px,#e1e1e1 0 10px 0 -5px,#fff 0 12px 0 -6px,rgba(0,0,0,0.2) 0 14px 2px -7px;
  box-shadow: #ebebeb 0 2px 0 -1px,#e1e1e1 0 4px 0 -2px,#fff 0 6px 0 -3px,#ebebeb 0 8px 0 -4px,#e1e1e1 0 10px 0 -5px,#fff 0 12px 0 -6px,rgba(0,0,0,0.2) 0 14px 2px -7px;
}

.alveole-hover{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cat{
  margin-left: 20px;
  border-radius: 0px;
  box-shadow: 4px 4px 12px black; 
}

.catSelected{
  border: 1px solid green;
}

.inline{
  display: inline-block;
}

.logo_small{
  max-width:95%; 
  max-height:85%;
}

.navbar .nav > li > a{
  color: white;
  margin-top: 10px;
}

.navbar .nav > li > a:hover{
  color: white;
  margin-top: 10px;
}

.navbar .btn{
  border-color: green;
}

.navbar .btn, .navbar-search{
  margin-top: 15px;  
  margin-left: 80px;
}

.navbar .divider-vertical {
  height: 60px;
}

.navbar-inner {
  background-color: black;
  border-radius: 0;
  border: 0px;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
/* Rating stars (dynamic) */
.rating {
  float:left;
  width: 150px;
  font-family: FontAwesome;
}
.rating > #label{
  font-family: 'Open Sans', sans-serif;

}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:150%;
  line-height:1.2;
  color:#ddd;
  content: "\f005";
}

.rating:not(:checked) > label:before {
  content: "\f005";
}

.rating > input:checked ~ label {
  color: #f70;
  content: "\f005";
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  content:"\f005";
}
.separator{

  border-top: 2px solid black;
}

/* Stars static */
.starsRatingShow i{
  color: #ea0;
}


#btnMore{
  margin-top: 1em;
}

#carrousel{
  height: 200px;
  overflow: hidden;
  text-align: center;
}

#catList{
  text-align: center;
}

#descFeaturedApp{
  padding: 50px;
  text-align : justify;
}

#imgCarrousel{
  margin-top: -370px;
}

#logoNavbar{
  height: 40px;
}

#logoTeamSelection{
  /*width: 300px;*/
}

#navbar{
  background-color: black;
  height: 60px;
}

#socialFeaturedApp{
  padding-left: 50px;
}

#tableFeatured{
  min-height: 250px;
}
