/* app css stylesheet */

a:link, a:visited, a:hover, a:active {
  color:black;
  text-decoration: none;
  cursor: pointer;
}

body{
  margin : 0;
  color: black;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  /*background-image: url(/app/img/bgnoise_lg.jpg);*/
}

.alveole{
  padding: 5px;
  background-position: 0 307px;
  height: 360px;
  max-width: 200px;
  overflow: hidden;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #d0d5cb;
  position: relative;
  background-color: #fff;
}

.alveoleName{
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  padding: 5px;
}

.alveoleDesc{
  color: #75796f!important;
  padding: 0 5px;
  font-size: 12px!important;
  line-height: 15px;
  height: 60px;
  text-overflow: ellipsis;
  /*text-align: justify;*/
}

.alveoleRating{
  position: absolute;
  left: 10px;
  bottom: 30px;
}

.alveoleTagsWrapper{
  position:absolute;
  bottom:10px;
  left:10px;
  width: 200px;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alveoleWrap{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  background: #eef2ea;
  padding: 4px;
  margin: 5px 10px;
  clear: both;
}

.block{
  display: block!important;
}

.box-desc {
  color: #444;
  position: relative;
  padding: 8px;
  background: white;
  border: 1px solid #D7D7D7;
  /*box-shadow: 1px 1px 0 rgba(0,0,0,0.9), 0 0 10px rgba(0,0,0,0.1) inset;*/
  border-radius: 3px;
  font-size: 12px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.box-desc:after, .box-desc:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.box-desc:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #FFFFFF;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.box-desc:before {
  border-color: rgba(215, 215, 215, 0);
  border-right-color: #D7D7D7;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}

.btnCat{
  float: left;
  display: block;
  padding: 7px 15px 5px 15px;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 3px;
  color: #333;
  margin: 0 3px 5px;
  background-color: #FFF;
  border: 1px solid #D7D7D7;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.9), 0 0 10px rgba(0,0,0,0.1) inset;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btnCat:hover, .btnCatFocus{
  /*background-color: #f9f9f9;*/
  box-shadow:  2px 1px 0 rgb(0, 0, 0), 0 0 50px rgba(0, 0, 0, 0.12) inset;
  color: #000;
  border-color: #666;
  text-decoration: none;
}


.catSelected{
  border: 1px solid green;
}

.carousel-control{
  background-color: green;
}

.carousel-control:hover{
  cursor: pointer;
}

.container-grey{
  background-color: #eef2ea;
  padding-bottom: 100px;
}

.container-white{
  padding: 20px 0;
  margin-top: 50px;
  background-color: white;
}

.control-group option{
  color: black;
}

.counts-vote{
  margin-top: 5px;
}
.dropbox{
  margin-left: 0;
  padding-top: 20px;
  height: 3em;
  border: 2px solid #bce8f1;
  border-radius: 8px;
  background-color: #d9edf7;
  text-align: center;
  color: #3a87ad;
  font-size: 2em;
  font-weight: bold;
}

.dropbox.not-available {
  background-color: #F88;
}
.dropbox.over {
  background-color: #bce8f1;
}

.graph-popover{

}

.icon-star, .icon-star-half-empty, .icon-star-empty{
  font-size: 10px;
  color: lightseagreen;
}

.imgCarousel{
  height: 150px;
  width: 200px; 
  border-bottom: 2px solid #eef2ea;
  padding-bottom: 5px;
}

.inline{
  display: inline-block;
}

.link{
  cursor: pointer;
}

.link:hover{
  font-weight: bold;
}

.logo_small{
  max-width:95%; 
  max-height:85%;
}

.modal-backdrop{
  background-color: white;
}

.navbar .divider-vertical {
  height: 60px;
}

.navbar-colored{
  color: rgb(20,63,20);
  font-weight: bold;
}

.noStyleList{
  list-style-type:none; 
}
/* Rating stars (dynamic) */

.rating {
  float:left;
  width: 150px;
  font-family: FontAwesome;
}
.rating > #label{
  font-family: 'Open Sans', sans-serif;

}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:150%;
  line-height:1.2;
  color:#ddd;
  content: "\f005";
}

.rating:not(:checked) > label:before {
  content: "\f005";
}

.rating > input:checked ~ label {
  color: #f70;
  content: "\f005";
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  content:"\f005";
}

.red-star{
  color: red;
}

.relative{
  position: relative;
}

.separator{

  border-top: 2px solid black;
}

/* Stars static */
.starsRatingShow i{
  color: #ea0;
}

.tag{
  font-size: 12px;
  font-style: italic;
  cursor: pointer;
}

.team-member{
  padding: 5px;
  margin-bottom: 10px;
}

.tooltipCustom{

  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#accountWrapper{
  min-height: 295px;
}

#alveolesList{
  border-right: 1px solid #eef2ea;
  min-height: 1000px;
}

#appFeatured{
  /*min-height: 250px;*/
}

#appFeaturedTitle{
  border-bottom: 1px solid #eeeeee;
}

#appForm{
}

#btnMore{
  margin-top: 1em;
}

#catListDescription{
  height: 55px;
}

#catListWrapper{
  min-height: 70px;
  margin-bottom: 20px;
}

#changeImage{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  padding:20px;
  background-color: black;
  opacity: 0.5;
  color: white;
  text-align: center;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  font-size: 20px;
}

#descFeaturedApp{
  /*padding: 50px;*/
  /*text-align : justify;*/
  margin-top: 10px;
  height: 120px;
  overflow: hidden;
}

#imageEditForm{
  width: 270px;
}

#fileToUpload{
  display: none;
}



/* FOOTER */

#footer{
  padding-bottom: 25px;
  background-color:#f5f5f5;
  font-size: 90%;
}
#footer h5{
  color:#999999;
}
#footer ul{
  list-style:none;
}



#formContainer{
  min-height: 1000px;
}

#formExplications{
  padding: 20px;
}

#formExplicationsWrapper{
  margin-top: 92px;
}

#formExplicationsWrapper .close {
  right: 0;
  top: 20px;
}

#graphContainer{
  min-height: 810px;
}

#graphDesc{
  height: 200px;
  margin-top: 150px;
}

#graphDescMore{
  position: absolute;
  bottom: 15px;
  width: 250px;
}

#headerCarousel{
  height: 200px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

#headerImgCarousel{
  margin-top: -370px;
}

#logoNavbar{
  height: 60px;
  margin-top: -7px;
}

#logoNavbarContainer{
  height: 40px;
}

#logoTeamSelection{
  width: 267px;
  height: 200px;
}

#mainContainer{
  /*padding-bottom: 100px;*/
}

#mainWrapper{
  min-height: 915px;
  padding-bottom: 100px;
}

#navbar{
  background-color: black;
  height: 60px;
}

#navbar-avatar{
  height: 40px;
}

#navbar-avatar-container{
  width: 84px;
}

#navbar-dropdown-arrow{
  position: relative;
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #999;
  top: 3px;
  cursor: pointer;
}

#navLinks{
  padding-top: 10px;
}

#popularAppsWrapper{
  background-color: #eef2ea;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#popularCarousel{
  text-align: center;
}

#searchNavbar{
  margin-bottom: 0px;
  margin-top: 9px;
}

#socialFeaturedApp{
  /*position: absolute;
  bottom: 60px;*/
}

#tableFeatured{
  min-height: 250px;
}

#tagListFeatured{
  position: absolute;
  bottom: 30px;
  color: white;
}

#tagListFeatured:hover{
  color: black;
}

#teamSelection{
  padding: 20px 50px;
}

#teamSelectionWrapper{
  color: black;
  display: block;
  position: relative;
  /*background-image: -webkit-linear-gradient(left,#DED4B9 0%, #F2EEEB 35%, #F2EEEB 65%, #DED4B9 100%);
  background-image: -moz-linear-gradient(left,#DED4B9 0%, #F2EEEB 35%, #F2EEEB 65%, #DED4B9 100%);
  background-image: -ms-linear-gradient(left,#DED4B9 0%, #F2EEEB 35%, #F2EEEB 65%, #DED4B9 100%);
  background-image: -o-linear-gradient(left,#DED4B9 0%, #F2EEEB 35%, #F2EEEB 65%, #DED4B9 100%);*/
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
  margin-bottom: 20px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  height: 330px;
}

#teamSelectionWrapper:after {
  position: absolute;
  width: 80%;
  height: 40%;
  left: 10%;
  border-radius: 50%;
  z-index: -1;
  bottom: 0%;
  content: "";
  box-shadow: 0 7px 16px rgba(0,0,0,0.4);
}

#voteWrapper{
  min-height: 300px;
}

/*Vote
----------*/
.vote-buttons{
  font-size:20px;
  padding: 0;
  list-style: none;
  cursor: pointer;
  margin: 0 0 0 45px;
}
.vote-buttons li{
  float:left;
  padding: 15px 0 0 0;
  margin-right: 10px;
  font-weight: bold;
}
.vote-buttons li i{
  padding : 5px;
  color: #FFF;
  display: block;
  background-color: black;
}
.vote-buttons .dropdown-menu{
  padding: 5px;
  font-size: 12px;
}
.vote-buttons .down i{
  /*background-color: #c0392b;*/
}
.vote-buttons .down i:hover{
  background-color: #e74c3c;
}
.vote-buttons .up i{
  /*background-color: #27ae60;*/
}
.vote-buttons .up i:hover{
  background-color: green;
}

.vote-alv{
  margin-bottom: 10px;
}
/* Forms
----------*/
.required:after{
  content: ' <i class="icon-asterisk red-star"></i>'
}

.rounded{
  border-radius: 15px 
}


/****** LOADING ANIMATION *****/
/* Animation keyframes - you need to add prefixes */

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-o-keyframes spin {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Loading animation container */
#loading {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 28px;
  height: 28px;
  margin: -14px 0 0 -14px;
}

/* Spinning circle (inner circle) */
#loading .maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid black;
}

/* Spinning circle mask */
#loading .mask {
  width: 12px;
  height: 12px;
  overflow: hidden;
}

/* Spinner */
#loading .spinner {
  position: absolute;
  /*left: 550px;*/
  top: 150px;
  width: 26px;
  height: 26px;
  -webkit-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

