/* app css stylesheet */

a:link, a:visited, a:hover, a:active {
  color:black;
  text-decoration: none;
  cursor: pointer;
}

body{
  margin : 0;
  color: black;
  font-family: 'Open Sans', sans-serif;
  /*background-color: lightblue;*/
}

.alveole{
  padding: 5px;
  background-position: 0 307px;
  height: 360px;
  max-width: 200px;
  overflow: hidden;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #d0d5cb;
  position: relative;
  background-color: #fff;
}

.alveoleName{
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  padding: 5px;
}

.alveoleDesc{
  color: #75796f!important;
  padding: 0 5px;
  font-size: 12px!important;
  line-height: 15px;
  height: 60px;
  text-overflow: ellipsis;
  text-align: justify;
}

.alveoleRating{
  position: absolute;
  left: 10px;
  bottom: 30px;
}

.alveoleTagsWrapper{
  position:absolute;
  bottom:10px;
  left:10px;
  width: 200px;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alveoleWrap{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  background: #eef2ea;
  padding: 4px;
  margin: 5px 10px;
  clear: both;
}

.boxDesc {
  color: #444;
  min-height: 55px;
  max-height: 55px;
  position: relative;
  padding: 8px;
  background: white;
  border: 1px solid #D7D7D7;
  box-shadow: 2px 2px 0 #D7D7D7;
  border-radius: 3px;
  font-size: 12px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.boxDesc:after, .boxDesc:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.boxDesc:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #FFFFFF;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.boxDesc:before {
  border-color: rgba(215, 215, 215, 0);
  border-right-color: #D7D7D7;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}

.btnCat{
  float: left;
  display: block;
  padding: 7px 15px 5px 15px;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 3px;
  color: #333;
  margin: 0 3px 5px;
  background-color: #FFF;
  border: 1px solid #D7D7D7;
  box-shadow: 2px 2px 0 #D7D7D7;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btnCat:hover, .btnCatFocus{
  background-color: #f9f9f9;
  box-shadow: 2px 2px 0 #666;
  color: #000;
  border-color: #666;
  text-decoration: none;
}


.catSelected{
  border: 1px solid green;
}

.carousel-control{
  background-color: green;
}

.carousel-control:hover{
  cursor: pointer;
}

.control-group option{
  color: black;
}

.imgCarousel{
  height: 150px;
  width: 200px; 
  border-bottom: 2px solid #eef2ea;
  padding-bottom: 5px;
}

.inline{
  display: inline-block;
}

.link{
  cursor: pointer;
}

.link:hover{
  font-weight: bold;
}

.logo_small{
  max-width:95%; 
  max-height:85%;
}

.navbar .nav > li > a{
  color: white;
  margin-top: 10px;
}

.navbar .nav > li > a:hover{
  color: white;
  margin-top: 10px;
}

.navbar .btn{
  border-color: green;
}

.navbar .btn, .navbar-search{
  margin-top: 15px;  
  margin-left: 80px;
}

.navbar .divider-vertical {
  height: 60px;
}

.navbar-inner {
  background-color: black;
  border-radius: 0;
  border: 0px;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.noStyleList{
  list-style-type:none; 
}

/* Rating stars (dynamic) */
.rating {
  float:left;
  width: 150px;
  font-family: FontAwesome;
}
.rating > #label{
  font-family: 'Open Sans', sans-serif;

}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:150%;
  line-height:1.2;
  color:#ddd;
  content: "\f005";
}

.rating:not(:checked) > label:before {
  content: "\f005";
}

.rating > input:checked ~ label {
  color: #f70;
  content: "\f005";
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  content:"\f005";
}

.red-star{
  color: red;
}

.separator{

  border-top: 2px solid black;
}

/* Stars static */
.starsRatingShow i{
  color: #ea0;
}

.tag{
  font-size: 12px;
  font-style: italic;
  cursor: pointer;
}

.tooltipCustom{

  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#alveolesList{
  border-right: 1px solid #eef2ea;
  min-height: 1000px;
}

#appFeatured{
  min-height: 250px;
}

#btnMore{
  margin-top: 1em;
}

#catList{
  /*margin-left: 0;*/
}

#catListWrapper{
  min-height: 70px;
}

#descFeaturedApp{
  padding: 50px;
  text-align : justify;
}

#footer{
  background-color:#f5f5f5;
  color:#999999;
}
#footer ul{
  list-style:none;
}

#headerCarousel{
  height: 200px;
  overflow: hidden;
  text-align: center;
}

#headerImgCarousel{
  margin-top: -370px;
}

#logoNavbar{
  height: 40px;
}

#logoTeamSelection{
  max-width: 300px;
  max-height: 200px;
}

#navbar{
  background-color: black;
  height: 60px;
}

#navLinks{
  padding-top: 10px;
}

#popularCarousel{
  text-align: center;
}

#socialFeaturedApp{
  padding-left: 50px;
}

#tableFeatured{
  min-height: 250px;
}


/*Vote
----------*/


.vote-buttons{
  font-size:20px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.vote-buttons li i{
  float:left;
  padding : 15px;
  margin-right: 10px;
  color: #FFF;
}
.vote-buttons li i:hover{
  text-shadow: 1px 1px 3px #333;
}

.vote-buttons .down i{
  background-color: #c0392b;
}
.vote-buttons .down i:hover{
  background-color: #e74c3c;
}
.vote-buttons .up i{
  background-color: #27ae60;
}
.vote-buttons .up i:hover{
  background-color: #2ecc71;
}

.vote-alv{
  margin-bottom: 10px;
}



