/* app css stylesheet */

a:link, a:visited, a:hover, a:active {
  color:black;
  text-decoration: none;
}

body{
  margin : 0;
  color: black;
  font-family: 'Open Sans', sans-serif;
  /*background-color: lightblue;*/
}

.alveole{
  padding: 5px;
  background-position: 0 307px;
  height: 360px;
  max-width: 200px;
  overflow: hidden;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #d0d5cb;
  position: relative;
  background-color: #fff;
}

.alveoleName{
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  padding: 5px;
}

.alveoleDesc{
  color: #75796f!important;
  padding: 0 5px;
  font-size: 12px!important;
  line-height: 15px;
  height: 60px;
  text-overflow: ellipsis;
  text-align: justify;
}

.alveoleRating{
  position: absolute;
  left: 10px;
  bottom: 30px;
}

.alveoleTags{
  position:absolute;
  bottom:10px;
  left:10px;
  font-size: 12px;
  width: 200px;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alveoleWrap{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  background: #eef2ea;
  padding: 4px;
  margin: 5px 20px;
  clear: both;
}

.cat{
  margin-right: 20px;
  border-radius: 0px;
  box-shadow: 4px 4px 12px black; 
}

.catSelected{
  border: 1px solid green;
}

.carousel-control{
  background-color: green;
}

.carousel-control:hover{
  cursor: pointer;
}

.imgCarousel{
  height: 150px;
  width: 200px; 
  border-bottom: 2px solid #eef2ea;
  padding-bottom: 5px;
}

.inline{
  display: inline-block;
}

.link{
  cursor: pointer;
}

.link:hover{
  font-weight: bold;
}

.logo_small{
  max-width:95%; 
  max-height:85%;
}

.navbar .nav > li > a{
  color: white;
  margin-top: 10px;
}

.navbar .nav > li > a:hover{
  color: white;
  margin-top: 10px;
}

.navbar .btn{
  border-color: green;
}

.navbar .btn, .navbar-search{
  margin-top: 15px;  
  margin-left: 80px;
}

.navbar .divider-vertical {
  height: 60px;
}

.navbar-inner {
  background-color: black;
  border-radius: 0;
  border: 0px;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.noStyleList{
  list-style-type:none; 
}

/* Rating stars (dynamic) */
.rating {
  float:left;
  width: 150px;
  font-family: FontAwesome;
}
.rating > #label{
  font-family: 'Open Sans', sans-serif;

}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:150%;
  line-height:1.2;
  color:#ddd;
  content: "\f005";
}

.rating:not(:checked) > label:before {
  content: "\f005";
}

.rating > input:checked ~ label {
  color: #f70;
  content: "\f005";
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  content:"\f005";
}
.separator{

  border-top: 2px solid black;
}

/* Stars static */
.starsRatingShow i{
  color: #ea0;
}

#alveolesList{
  border-right: 1px solid #eef2ea;
  min-height: 1000px;
}

#appFeatured{
  min-height: 250px;
}

#btnMore{
  margin-top: 1em;
}

#catList{
  text-align: left;
}

#descFeaturedApp{
  padding: 50px;
  text-align : justify;
}

#headerCarousel{
  height: 200px;
  overflow: hidden;
  text-align: center;
}

#headerImgCarousel{
  margin-top: -370px;
}

#logoNavbar{
  height: 40px;
}

#logoTeamSelection{
  max-width: 300px;
  max-height: 200px;
}

#navbar{
  background-color: black;
  height: 60px;
}

#navLinks{
  padding-top: 10px;
}

#popularCarousel{
  text-align: center;
}

#socialFeaturedApp{
  padding-left: 50px;
}

#tableFeatured{
  min-height: 250px;
}
