div#feedback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100001;
}

a#feedback_link {
  position: fixed;
  z-index: 99999;
  background-color: #CC0000;
  width: 26px;
  height: 96px;
  overflow: hidden;
  opacity: 0.5;
  background: green url(../img/feedback_tab.png);
  _position: absolute;
  /*_background-image: url(../img/feedback_tab.png);*/
}

a#feedback_link:hover {
  opacity: 1;
}

a#feedback_link.left {
  left: 0;
  top: 300px;
  width: 26px;
  height: 96px;
  background-image: url(../img/feedback_tab.png);
  _background-image: url(../img/feedback_tab.png);
}

a#feedback_link.right {
  right: 0;
  top: 50%;
  width: 26px;
  height: 96px;
  background-image: url(../img/feedback_tab.png);
  _background-image: url(../img/feedback_tab.png);
}

a#feedback_link.top {
  right: 10%;
  top: 0;
  width: 96px;
  height: 26px;
  background-image: url(../img/feedback_tab_h.png);
  _background-image: url(../img/feedback_tab_h.png);
}

a#feedback_link.bottom {
  right: 10%;
  bottom: 0;
  width: 96px;
  height: 26px;
  background-image: url(../img/feedback_tab_h.png);
  _background-image: url(../img/feedback_tab_h.png);
}

a#feedback_close_link {
  right: 5pt;
  top: 3pt;
  position: absolute;
  height: 22px;
  width: 66px;
  background-image: url(../img/closelabel.gif);
  _background-image: url(../img/closelabel.gif);
}


#feedbackContent {
  width: 510px;
  height: 110px;
}