<footer id="footer">
  <section class="container">
    <div class="row-fluid">
      <menu class="span3">
        <h4>Qui sommes-nous ?</h4>
        <ul class="footer-list">
          <li><a href="#/about">Le projet</a></li>
          <li><a href="#/team">L'équipe</a></li>
          <li><a href="#/faq">F.A.Q.</a></li>
        </ul>

      </menu>
      <menu class="span3">
        <h4>Contactez-nous</h4>
        <ul class="footer-list">
          <li><a href="#/contact">Contact</a></li>
          <li><a  ng-click="openModalFeedback()" >Signaler un bug</a></li>
          <li><a  ng-click="openModalFeedback()" >Feedback</a></li>
        </ul>
      </menu>
      <menu class="span3" >
        <h4 id="social-networks">Réseaux sociaux</h4>
        <ul class="footer-list">
          <li><div class="fb-like" data-href="https://www.facebook.com/alveolusfr" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div></li>
          <li><a href="https://twitter.com/alveolusfr" class="twitter-follow-button" data-show-count="false" data-lang="fr">Follow @alveolusfr</a></li>
          <li><iframe src="http://ghbtns.com/github-btn.html?user=vpoulain&repo=alveolus-frontend&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
        </ul>
      </menu>
      <menu class="span3">
        <h4>À propos</h4>
        AlveolUs est un projet original ayant pour volonté de promouvoir l'économie collaborative.
      </menu>
    </div>
  </section>
</footer>