<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span3 offset2">
        <h5>Qui sommes nous ?</h5>
        <ul>
          <li><a href="#">Nos valeurs</a></li>
          <li><a href="#">L'équipe</a></li>
          <li><a href="#">F.A.Q.</a></li>
        </ul>

      </div>
      <div class="span3">
        <h5>Contactez-nous</h5>
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Signaler un bug</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
      </div>
      <div class="span3">
        <h5>A propos</h5>
        EnjoyTheWeb est un projet original ayant pour vocation de rapprocher deux entités ayant besoin l'une de l'autre : les sites web innovants et les internautes.
      </div>
    </div>
  </div>
</div>