<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span3 offset2">
        <h5>Qui sommes nous ?</h5>
        <ul>
          <li><a href="#/about">Le projet</a></li>
          <li><a href="#/team">L'équipe</a></li>
          <li><a href="#/faq">F.A.Q.</a></li>
        </ul>

      </div>
      <div class="span3">
        <h5>Contactez-nous</h5>
        <ul>
          <li><a href="#/contact">Contact</a></li>
          <li><a href="#">Signaler un bug</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
      </div>
      <div class="span3">
        <h5>À propos</h5>
        AlveolUs est un projet original ayant pour volonté de promouvoir l'économie collaborative.
      </div>
    </div>
  </div>
</div>