      <div id="headerContainer">
   	<div id="headerCarousel">
   		<!-- <img id="headerImgCarousel" src="img/photos-background/main4.jpg" alt="imgCarrousel"> -->
   		<div id="headerSlogan" class="container">
   			<h1>Un web contributif</h1>
   			<h1>pour un nouveau modèle</h1>
            <h3 style="color:rgb(62, 63, 62);font-family:Politica-italic"> Découvrez les sites internet participatifs </h3>
   			<br>
   			<a ng-href="#/about" class="btn">En savoir plus</a>
   		</div>
   	</div>
   </div>