    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <!-- <div class="container"> -->
        <div>

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" ng-href="#">
            <img src="img/logo_home.svg" type="image/svg+xml" alt="AlveolUs"/>
          </a>

          
          <div class="nav-collapse collapse">
            <ul class="nav pull-left">
              <li class="divider-vertical"></li>
              <li><a ng-href="#/alveoles">
                <span>Découvrez</span><br/>
                nos Alvéoles</a>
              </li>

              <li class="divider-vertical"></li>

              <li ng-click="goToAddWebappPage()"><a>
                <span>Proposez</span><br/>
                une Alvéole</a>
              </li>
              <li>
                <div id="searchNavbar" class="input-append navbar-search">
                  <form name="myForm" ng-submit="search(searchContent)">
                    <input id="searchInput" class="span2" type="text" ng-model="searchContent" placeholder="Entrez une recherche">
                    <span class="add-on link" ng-click="search(searchContent)">
                      <i class="icon-search"></i>
                    </span>
                  </form>
                </div>
              </li>

              <li class="divider-vertical"></li>

              <li><a ng-href="#/vote">
                <span>Modérez</span><br/>
                les alvéoles</a>
              </li>
              <li class="divider-vertical"></li>
              <li><a ng-href="">Qu'est ce <br/>qu'AlveolUs</a></li>

              <li class="divider-vertical"></li>

              <li ng-hide="isLogged"><a ng-click="openModalLogin()">Connexion</a></li>
              <li class="dropdown" ng-show="isLogged">
                <a class="dropdown-toggle">
                  <img src="{{userInfo.image_url}}" class="img-circle" style:"max-height:40px;"/>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-href="#/user">Mon compte</a>
                  </li>
                  <li>
                    <a ng-click="sign_out()">Deconnexion</a>
                  </li>
                </ul>
              </li>              
            </ul>
          </div>
        </div>
      </div>
    </div>
