<div class="container-grey">
	<div id="accountWrapper" class="container">
		<div id="contentWrapper">
			<div class="row container-white">
				<div class="span10 offset1">
					<h2>AlveolUs</h2>
					<legend> Le projet </legend>

					<p> Grâce à sa capacité de mise en relation et de création d'espaces de partage, le Web produit aujourd'hui des alternatives crédibles
						à de nombreux services. Des centaines  de sites internet basés sur la collaboration et le partage voient le jour et ouvrent de nouvelles perspectives en proposant
						un modèle nouveau fondé sur le communautaire et la contribution.
					</p>

					<p> Nous souhaitons offrir à ces nouveaux sites internet, qui façonnent l'économie de la contribution de demain, un espace dédié,
						dans le but d'accroître leur visibilité et de les faire découvrir aux internautes. 
					</p>

					<strong><p>
						AlveolUs veut favoriser la rencontre des projets innovants et des internautes. 
					</p></strong>
					<strong><p>
						AlveolUs veut vous faire découvrir le meilleur du Web ouvert et collaboratif. 
					</p></strong>
					<br>



					<legend>Motivation</legend>


					<p>	Elle est double : </p>
					<ul>
						<li>
							Elargir la <em> bulle internet</em> de chaque internautes en leur fournissant la possibilité d’explorer le Web d’une autre façon.
							Non plus en passant par des recherches par mots-clés, mais en parcourant une vitrine, où sont présentés les sites internet du web collaboratif.<strong> Vous aurez la surprise de découvrir des recoins du Web jamais exploré car jamais <em>googlé</em> !</strong>
						</li><br>
						<li>
							Donner une visibilité accrue à des sites Web dont le service favorise le partage, le transfert de la connaissance, la collaboration entre citoyens ou le développement durable.
							<strong> 
							</strong> 
						</li>

					</ul>

					<br>

					<legend>Qu'est ce qu'une alvéole ?</legend>

					<p> Une alvéole est simplement le nom donné à un site internet collaboratif sur AlveolUs. Elle représente l'espace de partage dans lequel les utilisateurs peuvent discuter, noter, partager le site internet en question. </p>

					<br>

					<h3 class="">AlveolUs est une vitrine et c'est aussi une plateforme contributive. Aidez-nous à construire le store du Web collaboratif ! </h3>
					<div class="row-fluid"> 
						<div class="offset10 span2">
							<a href="#/inscritpion" class="btn btn-success btn-large">S&#x27;inscrire</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>