<div class="container">
    <div class="row">
        <div class="span10 offset1 well">
            <form name="form" class="form-signin form-horizontal" novalidate ng-submit="submit()">
                <h2>Inscription</h2>
                <div class="control-group"
                     ng-class="{error: form.email.$error.email,
                                success: form.email.$valid}">
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                        <input type="email" id="email" name="email" required ng-model="user.email"
                        tooltip-placement="right" tooltip="Votre adresse email">
                        <span class="help-inline" ng-show="form.email.$error.email">
                            Votre email n'est pas valide.
                        </span>
                    </div>
                </div>
<!--                 <div class="control-group"
                     ng-class="{error: form.pseudo.$error.maxlenght || form.pseudo.$error.minlength,
                                success: form.pseudo.$valid}">
                    <label class="control-label" for="pseudo">Pseudo</label>
                    <div class="controls">
                        <input type="text" id="pseudo" name="pseudo" required ng-model="user.pseudo"
                        tooltip-placement="right" tooltip="Votre pseudo sur le site" ng-minlength="3" ng-maxlength="25">
                        <span class="help-inline" ng-show="form.pseudo.$error.minlength">
                            Votre pseudo doit contenir au moins 3 caractères.
                        </span>
                        <span class="help-inline" ng-show="form.pseudo.$error.maxlength">
                            Votre pseudo ne doit pas faire plus de 25 caractères.
                        </span>
                    </div>
                </div> -->
                <div class='control-group'
                     ng-class="{error: form.password.$error.minlenght,
                                success: form.password.$valid}">
                    <label class="control-label" for='password'>Mot de passe</label>
                    <div class='controls'>
                        <input type='password' id='password' name='password' required name='password' ng-model='user.password' ng-minlength="8">
                        <span class='help-inline' ng-show="form.password.$error.minlength">
                        Votre mot de passe doit contenir au moins 8 caractères
                        </span>
                    </div>
                </div>
                <div class='control-group'
                     ng-class="{error: form.password_confirmation.$error.sameAs,
                                success: form.password_confirmation.$valid}">
                    <label class="control-label" for='password_confirmation'>Confirmation</label>
                    <div class='controls'>
                        <input type='password' id='password_confirmation' name='password_confirmation' name='password_confirmation' same-as='user.password' ng-model='user.password_confirmation' required>
                        <span class='help-inline' ng-show='form.password_confirmation.$error.sameAs'>
                            Les deux mots de passe ne sont pas identiques.
                        </span>
                    </div>
                </div>           
                <div class='form-actions'>
                    <input type="submit" value="S'inscrire" class="btn" ng-disabled="!form.$valid"/>
                </div>
            </form>
        <div><span class="red-star">*</span> : Champs requis</div>
    </div>



    <div class="span10 offset1 well">
        <h2> Debug view </h2>
        user = {{user | json}}
        <br/>
        form = {{form | json}}
        <br/>
        <tt>form.$valid = {{form.$valid}}</tt><br/>
        <tt>form.email.$error = {{form.email.$error}}</tt><br/>
        <tt>form.email.$invalid = {{form.email.$invalid}}</tt><br/>
        <tt>form.email = {{form.email}}</tt><br/>
        <tt>form.pseudo.$error = {{form.pseudo.$error}}</tt><br/>
    </div>

</div>
</div>

