<div class="container-grey">
    <div id="accountWrapper" class="container">
        <div id="contentWrapper">
            <div class="row container-white">
                <div class="span5 offset1">
                    <form name="form" class="form-signin form-horizontal" novalidate ng-submit="submit()">
                        <h2>Inscription classique...</h2>
                        <div class="control-group" ng-class="{error: form.email.$error.email, success: form.email.$valid}">
                            <label class="control-label" for="email">E-mail<span class="red-star">*</span></label>
                            <div class="controls">
                                <input type="email" id="email" name="email" required ng-model="user.email"
                                tooltip-placement="right" tooltip="Votre adresse email">
                                <span class="error-message-form" ng-show="form.email.$error.email"><i class="icon-warning-sign icon-white"></i>
                                    Votre email n'est pas valide.
                                </span>
                            </div>
                        </div>
                        <div class='control-group' ng-class="{error: form.password.$error.minlength, success: form.password.$valid}">
                            <label class="control-label" for='password'>Mot de passe<span class="red-star">*</span></label>
                            <div class='controls'>
                                <input type='password' id='password' name='password' required name='password' ng-model='user.password' ng-minlength="8">
                                <span class='error-message-form' ng-show="form.password.$error.minlength"><i class="icon-warning-sign icon-white"></i>
                                    Votre mot de passe doit contenir au moins 8 caractères
                                </span>
                            </div>
                        </div>
                        <div class='control-group' ng-class="{error: form.password_confirmation.$error.sameAs, success: form.password_confirmation.$valid}">
                            <label class="control-label" for='password_confirmation'>Confirmation<span class="red-star">*</span></label>
                            <div class='controls'>
                                <input type='password' id='password_confirmation' name='password_confirmation' name='password_confirmation' same-as='user.password' ng-model='user.password_confirmation' required>
                                <span class='error-message-form' ng-show='form.password_confirmation.$error.sameAs'><i class="icon-warning-sign icon-white"></i>
                                    Les deux mots de passe ne sont pas identiques.
                                </span>
                            </div>
                        </div>           
                        <input type="submit" value="S'inscrire" class="btn" ng-disabled="!form.$valid"/>
                    </form>
                    <div><span class="red-star">*</span> : Champs requis</div>
                </div>

                <div class="span6">
                    <h2>... ou connexion via un compte tiers</h2>

                    <span data-facebook='450339965057952' >
                        <span id="fb-root"></span>
                        <img alt="Facebook" height="64" data-ng-click="fetch()" ng-src="img/facebook_64.png" width="64" style="cursor:pointer;">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>