<div class="container-grey">
  <div id="graphContainer" class="container">
    <!-- <div id="contentWrapper"> -->
      <div class="row  container-white">
        <h3 class="span12">Alvéoles / Exploration</h3>
        <hr class="span12">
        <div class="span8">
          <div class="row-fluid"  id="graph"></div>
        </div>
        <div class="span3">
          <label class="radio inline">
            <input type="radio" name="optionsRadios" ng-click="explorationCat()" checked>
            Par catégories
          </label>
          <label class="radio inline">
            <input type="radio" name="optionsRadios" ng-click="explorationTag()">
            Par tags
          </label>
          <hr>
          <div ng-show="detailViewed" class="box-desc" id="graphDesc">
           <h4>{{webappSelected.title}} </h4>
           <span ng-repeat="tag in webappSelected.tags">
              <span class="label-color tagList"> {{tag.name}}</span>
            </span>
            {{webappSelected.caption}}
           <div id="graphDescMore">
             <hr>
             <a class="btn btn-success" ng-href="#/alveoles/{{webappSelected.id}}">En savoir plus !</a>
           </div>
         </div>

       </div>
     <!-- </div> -->
   </div>
 </div>
</div>