<div ng-include src="'fragment/header-carousel.html'"></div>
<div class="container">
	<!-- mainWrapper has a static height, preventing the page to shrink when we hide the content -->
	<div id="mainWrapper">
		<!-- contentWrapper can be hidden -->
		<div id="contentWrapper">
			<div id="catListWrapper">
				<div class="span5" id="catList">
					<span ng-repeat="cat in categories" ng-mouseenter="changeDesc(cat.description)" ng-mouseleave="changeDesc(catSelected.description)" ng-click="changeCat(cat)" ng-class="itemClass(cat)" class="btnCat"> 
						{{cat.name}}
					</span>
				</div>
				<div class="span6" id="catListDescriptionWrapper">
					<div class="boxDesc" id="catListDescription">
						{{descCatSelected}}
					</div>
				</div>
			</div>
			<div id="teamSelection" class="span11">
				<div>
					<br>
					<h3 class="inline">{{catSelected.name}} - Sélection de l'équipe :</h3>
					<button id="btnMore" class="btn btn-success pull-right" type="button" ng-click="changeView('alveoles')">{{catSelected.name}} : Voir toutes les alvéoles > </button>
				</div>
				<div id="appFeatured">
					<div collapse="isCollapsed">
						<table id="tableFeatured" class="offset0" >
							<tr>
								<td>
									<img id="logoTeamSelection" src="{{appFeatured | image}}" title="Image du site ! En construction.." alt="Image du site !">
								</td>
								<td  id="descFeaturedApp">
									<span>
										<h4><a href="#/alveoles/{{appFeatured.id}}">{{appFeatured.title}}</a></h4>
										{{appFeatured.description}}
									</span>
								</td>
							</tr>
							<tr>
								<td></td>
								<td id="socialFeaturedApp">
									<i class="{{ {'rate':appFeatured.average_rate, 'index':$index} | star}} icon-large"  ng-repeat="n in [] | range:5"></i>
									<b>-  {{appFeatured.comments.length}} avis</b>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<br>
			</div>

		<div class="separator span11"></div>

		<div id="popularApps" class="span11" >
			<h3><img src="img/star_small.png">  Alvéoles Populaires</h3>

			<carousel id="popularCarousel">
				<slide ng-repeat="row in rows" active="img.active">
					<div class="alveoleWrap" ng-repeat="col in cols">
						<div class="alveole">
							<a href="#/alveoles/{{webapps[$parent.$index * numColumns + $index].id}}">
								<img class="imgCarousel" ng-src="{{webapps[$parent.$index * numColumns + $index]  | image}}" >
							</a>
							<h2 class="alveoleName">
								<a href="#/alveoles/{{webapps[$parent.$index * numColumns + $index].id}}">
									<strong>{{webapps[$parent.$index * numColumns + $index].title}}</strong>
								</a>
							</h2>
							<p class="alveoleDesc">
								{{webapps[$parent.$index * numColumns + $index].caption}}
							</p>
							<div class="alveoleRating">
								<i class="{{ {'rate':webapps[$parent.$parent.$index * numColumns + $parent.$index].average_rate, 'index':$index} | star}} icon-large"  ng-repeat="n in [] | range:5"></i> 
								- {{webapps[$parent.$index * numColumns + $index].comments.length}} avis
							</div>
							<div class="alveoleTagsWrapper">
								<i class="icon-bookmark"></i>
								<span ng-repeat="tag in webapps[$parent.$index * numColumns + $index].tags" ng-click="search(tag.name)" class="tag">{{tag.name}}, </span>
							</div>
						</div>
					</div>

				</slide>
			</carousel>
		</div>
		</div>
	</div>
</div>
