<div ng-include src="'fragment/header-carousel.html'"></div>
<!-- mainWrapper has a static height, preventing the page to shrink when we hide the content -->
<div id="mainWrapper">
	<!-- contentWrapper can be hidden -->
	<div id="contentWrapper">
		<div id="homeBody" class="container">
			<div id="catListWrapper">
				<div class="span5" id="catList">
					<span ng-repeat="cat in categories" ng-mouseenter="changeDesc(cat.description)" ng-mouseleave="changeDesc(catSelected.description)" ng-click="changeCat(cat)" ng-class="itemClass(cat)" class="btnCat"> 
						{{cat.name}}
					</span>
				</div>
				<div class="span6" id="catListDescriptionWrapper">
					<div class="box-desc" id="catListDescription">
						{{descCatSelected}}
					</div>
				</div>
			</div>
			<div id="teamSelectionWrapper" class="span11">
				<div id="teamSelection">
					<div  class="row-fluid">
						<h3 class="span7"><img src="img/icon-team-selection.svg"> Sélection de l'équipe - {{catSelected.name}} :</h3>
						<button id="btnMore" class="btn btn-inverse span5" type="button" ng-click="changeView('alveoles')">{{catSelected.name}} : Voir toutes les alvéoles > </button>
					</div>
					<br>
					<div id="appFeatured" class="row-fluid">
						<div class="span4">
							<a href="#/alveoles/{{appFeatured.id}}"><img id="logoTeamSelection" class="rounded" src="{{appFeatured | image}}" title="{{appFeatured.title}}" alt="{{appFeatured.title}}"></a>
						</div>
						<div id="appFeaturedDescWrapper" class="span8">
							<div id="appFeaturedTitle">
								<h4><a href="#/alveoles/{{appFeatured.id}}">{{appFeatured.title}}</a> -
									<i class="{{ {'rate':appFeatured.average_rate, 'index':$index} | star}} icon-large"  ng-repeat="n in [] | range:5"></i>
									<b>-  {{appFeatured.comments.length}} avis</b>
								</h4>
							</div>
							<div id="descFeaturedApp">
								{{appFeatured.description | truncate:500}}
							</div>
							<div id="tagListFeatured">
								<img src="img/icon-tags.svg">
								<span ng-repeat="tag in appFeatured.tags">
									<a href="#/alveoles/search/{{tag.name}}" class="tag">{{tag.name}}</a> 
								</span>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>

		<!-- <div class="separator span11"></div> -->
		<div id="popularAppsWrapper">

			<div class="container">
				<div  id="popularApps" class="span11">
					<h3><img src="img/star_small.png">  Dernières alvéoles</h3>

					<carousel>
						<slide ng-repeat="slide in slides" active="img.active" class="row-fluid">
							<section class="span10 offset1">
								<div class="row-fluid">	
									<article class="alveole span3" ng-repeat="alveole in slide">
										<header class="alveoleHeader">Note : {{alveole.average_rate|truncate:3:''}}/5
											<span class="alveoleRatingWrapper">
												<i class="{{ {'rate':alveole.average_rate, 'index':$index} | star}} icon-large"  ng-repeat="n in [] | range:5"></i>
											</span>
										</header>
										<div class="alveoleContent">
											<a href="#/alveoles/{{alveole.id}}">
												<div class="cropedImg">
													<img class="alveoleImg" ng-src="{{alveole | image}}"  alt="{{alveole.title}}">
												</div>
												<h4 class="alveoleName">
													<strong>{{alveole.title}}</strong>
												</h4>
												<p class="alveoleDesc">
													{{alveole.caption}}
												</p>
											</a>
												<div class="alveoleTagsWrapper">
													<img src="img/icon-tags.svg" ng-show="alveole.tags">
													<span ng-repeat="tag in alveole.tags" ng-click="search(tag.name)" class="tag">
														<a href="#/alveoles/search/{{tag.name}}" class="tag">{{tag.name}}</a>
													</span>
												</div>
											
										</div>
									</article>
								</div>
							</section>
						</slide>
					</carousel>


					


				</div>
			</div>
		</div>
	</div>
</div>

