
<div class="container">
	<div id="catList">
		<span ng-repeat="cat in categories" ng-mouseenter="changeDesc(cat.description)" ng-mouseleave="changeDesc(catSelected.description)" ng-click="changeCat(cat)" ng-class="itemClass(cat)" class="btn cat"> 
			{{cat.name}}
		</span>
		<div class="inline" >
			{{descCatSelected}}
		</div>
	</div>
	<div id="teamSelection" >

		<div>
			<br>
			<h3 class="inline">{{catSelected.name}} - Sélection de l'équipe :</h3>
			<button id="btnMore" class="btn btn-success pull-right" type="button" ng-click="changeView('alveoles')">{{catSelected.name}} : Voir toutes les alvéoles > </button>
		</div>
		<div id="appFeatured">
			<div collapse="isCollapsed">
				<table id="tableFeatured" class="offset0" >
					<tr>
						<td>
							<img id="logoTeamSelection" src="img/{{appFeatured.id}}.jpg" title="Image du site ! En construction.." alt="Image du site !">
						</td>
						<td  id="descFeaturedApp">
							<span>
								<h4><a href="#/alveoles/{{appFeatured.id}}">{{appFeatured.title}}</a></h4>
								{{appFeatured.description}}
							</span>
						</td>
					</tr>
					<tr>
						<td></td>
						<td id="socialFeaturedApp">
							<i class="{{ {'rate':appFeatured.average_rate, 'index':$index} | star}} icon-large"  ng-repeat="n in [] | range:5"></i>
							<b>-  {{appFeatured.comments.length}} avis</b>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<br>
	</div>

	<div class="separator"></div>

	<div id="popularApps">
		<h3><img src="img/star_small.png">  Alvéoles Populaires</h3>
	</div>
	<!--
	<div class="row-fluid" data-ng-repeat="row in rows">
		<div class="col span4 alveole" data-ng-repeat="col in cols">
			<div>
				<b>{{webapps[$parent.$index * numColumns + $index].webapp.title}}</b><br>
				<img class="logo_small" src="img/{{webapps[$parent.$index * numColumns + $index].webapp.id}}.jpg"></p>
			</div>
				<div class="alveole-hover">
					<a href="#/webapp/{{webapps[$parent.$index * numColumns + $index].id}}">
						{{webapps[$parent.$index * numColumns + $index].caption}}
					</a>
				</div>
		</div>
	</div>-->
	<carousel id="popularCarousel">
		<slide ng-repeat="row in rows" active="img.active">
			<div class="alveoleWrap" data-ng-repeat="col in cols">
				<div class="alveole">
					<a href="#/alveoles/{{webapps[$parent.$index * numColumns + $index].id}}">
						<img class="imgCarousel" ng-src="img/{{webapps[$parent.$index * numColumns + $index].id}}.jpg" >
					</a>
					<h2 class="alveoleName">
						<a href="#/alveoles/{{webapps[$parent.$index * numColumns + $index].id}}">
							<strong>{{webapps[$parent.$index * numColumns + $index].title}}</strong>
						</a>
					</h2>
					<p class="alveoleDesc">
						{{webapps[$parent.$index * numColumns + $index].caption}}
					</p>
					<div class="alveoleTags">
						<i class="icon-bookmark"></i>
						<i ng-repeat="tag in webapps[$parent.$index * numColumns + $index].tags">{{tag.name}}, </i>
					</div>
				</div>
			</div>

		</slide>
	</carousel>

	<!-- <div class="hexagon"><span></span></div> -->
</div>
