<div class="container-grey">
	<div id="teamWrapper" class="container">
		<div id="contentWrapper">
			<div class="row container-white">
				<div class="span10 offset1">
					<h1>L'équipe </h1>
					<hr>
					<div class="team-member row-fluid">
						<div class="offset1 span4">
							<div class="row-fluid">

								<div class="span3">
									<img ng-init="vincent = 'vincent'" ng-mouseenter="vincent = 'vincent-over'" ng-mouseleave="vincent='vincent'" ng-src="img/team/{{vincent}}.png" class="img-circle"/>
								</div>

								<div class="span8">
									<h3> Vincent Poulain </h3>
									<strong> Porteur de projet - Lead dev</strong><br>
									<small> Etudiant ingénieur UTC</small>
								</div>
							</div>

						</div>

						<div class="offset1 span4">
							<div class="row-fluid">

								<div class="span3">
									<img ng-init="clement = 'clement'" ng-mouseenter="clement = 'clement-over'" ng-mouseleave="clement='clement'" ng-src="img/team/{{clement}}.jpg" class="img-circle"/>{{a}}
								</div>

								<div class="span8">
									<h3> Clément Déon </h3>
									<strong> Développeur front</strong><br>
									<small> Etudiant ingénieur UTC</small>
								</div>
							</div>
						</div>
					</div>
					<div class="team-member row-fluid">
						<div class="offset1 span4">
							<div class="row-fluid">

								<div class="span3">
									<img ng-init="johan = 'johan'" ng-mouseenter="johan = 'johan-over'" ng-mouseleave="johan='johan'" ng-src="img/team/{{johan}}.jpeg" class="img-circle"/>
								</div>

								<div class="span8">
									<h3> Johan Soulet </h3>
									<strong> Développeur front</strong><br>
									<small> Etudiant ingénieur UTC</small>
								</div>
							</div>

						</div>

						<div class="offset1 span4">
							<div class="row-fluid">

								<div class="span3">
									<img ng-init="agathe = 'agathe'" ng-mouseenter="agathe = 'agathe-over'" ng-mouseleave="agathe='agathe'" ng-src="img/team/{{agathe}}.jpeg" class="img-circle"/>
								</div>

								<div class="span8">
									<h3> Agathe Oddon </h3>
									<strong> Développeur front</strong><br>
									<small> Etudiante ingénieur UTC</small>
								</div>
							</div>
						</div>
					</div>
					<div class="team-member row-fluid">
						<div class="offset1 span4">
							<div class="row-fluid">

								<div class="span3">
									<img ng-init="pierre = 'pierre'" ng-mouseenter="pierre = 'pierre-over'" ng-mouseleave="pierre='pierre'" ng-src="img/team/{{pierre}}.jpeg" class="img-circle"/>
								</div>

								<div class="span8">
									<h3> Pierre Porcher </h3>
									<strong>Developpeur front - testing </strong><br>
									<small>Etudiant UTC</small>
								</div>
							</div>

						</div>

						<div class="offset1 span4">
							<div class="row-fluid">

								<div class="span3">
									<a href="http://cecilejaillard.tumblr.com/" target="_blank"> <img ng-init="cecile = 'cecile'" ng-mouseenter="cecile = 'cecile-over'" ng-mouseleave="cecile='cecile'" ng-src="img/team/{{cecile}}.jpg" class="img-circle"/></a>
								</div>

								<div class="span8">
									<h3> Cécile Jaillard </h3>
									<strong>Design graphique </strong><br>
									<small>Etudiante aux beaux-arts de Valence</small>
								</div>
							</div>
						</div>
					</div>
					<div class="team-member row-fluid">
						<div class="offset1 span4">
							<div class="row-fluid">

								<div class="span3">
									<img src="img/team/bertrand.jpeg" class="img-circle"/>
								</div>

								<div class="span8">
									<h3> Bertrand Bon </h3>
									<strong>Developpeur back-end</strong><br>
									<small>Etudiant UTC</small>
								</div>
							</div>

						</div>
					</div>


					<legend> Contact et réseaux sociaux </legend>
					<div class="row-fluid">
						<div class="offset2 span1">
							<a href="http://facebook.com/alveolusfr" target="_blank">
								<img src="img/team/facebook-circle.jpeg" class="img-circle"/>
							</a>		
						</div>

						<div class="span1">
							<a href="https://github.com/vpoulain/alveolus-frontend/" target="_blank">
								<img src="img/team/github.png" class="img-circle"/>	
							</a>	
						</div>

						<div class="span1">
							<a href="mailto:contact@alveolus.fr" target="_blank">
								<img src="img/team/mail-circle.png" class="img-circle"/>
							</a>		
						</div>

						<div class="span1">
							<a href="https://twitter.com/alveolusfr" target="_blank">
								<img src="img/team/twitter_circle.png" class="img-circle"/>	
							</a>	
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>