<div class="container">
	<div class="row">
		<div class="span10 offset1">
			{{authorized}}
			<div class="tabbable" > 
				<ul class="nav nav-pills">
					<li class="active"><a href="#infos" data-toggle="tab">Vos informations</a></li>
					<li><a href="#avatar" data-toggle="tab">Votre avatar</a></li>
					<li><a href="#favoris" data-toggle="tab">Vos alvéoles favorites</a></li>
					<li><a href="#comments" data-toggle="tab">Vos commentaires</a></li>
					<li><a href="#suggestions" data-toggle="tab">Vos suggestions</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="infos">
						<!-- <img ng-src="{{user.avatar_file_name}}" /> -->
						<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputPseudo">Pseudo</label>
								<div class="controls">
									<input type="text" id="inputPseudo" value="{{user.pseudo}}" ng-model="user.pseudo">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputEmail">Email</label>
								<div class="controls">
									<input type="text" id="inputEmail" placeholder="Email" value="{{user.email}}" disabled>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputPassword">Password</label>
								<div class="controls">
									<input type="password" id="inputPassword" placeholder="Password" value="coucou">
								</div>
							</div>

							<div class="control-group">
								<div class="controls">
									<button class="btn" ng-click="onSubmit(user);">Enregistrer</button>
								</div>
							</div>

						</form>


						<pre>
							{{user | json}}
						</pre>
					</div>



					<div class="tab-pane" id="favoris">
						<div ng-show="user.bookmarks">
							<div class="light-separator"></div>
							<div ng-repeat="bookmark in user.bookmarks">
								<div class="row">
									<img class="span2" ng-src="{{bookmark.webapp.image_url}}"/>
									<div class="span8">
										<h3>{{bookmark.title}}</h3>
										<h4>{{bookmark.caption}}</h4>
										<p>{{bookmark.description}}</p>
									</div>
								</div>
								<div class="light-separator"></div>
							</div>
						</div>
					</div>


					<div class="tab-pane" id="avatar">
						<div class="control-group">
							<label class="control-label" for="inputAvatar">Avatar</label>
							<div class="controls">
								<img ng-src="{{user.image_url}}" class="span1 img-rounded img-circle"/>
								<input type="file" id="fileToUpload" onchange="angular.element(this).scope().setFile(this)"/>
								<input type="button" value="Choisissez une image" class="block"  onclick="document.getElementById('fileToUpload').click();" />
								<div ng-show="files.length">
									<div ng-repeat="file in files.slice(0)">
										<span>{{file.webkitRelativePath || file.name}}(</span>
										<span ng-switch="file.size > 1024*1024">
											<span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB)</span>
											<span ng-switch-default>{{file.size / 1024 | number:2}} kB)</span>
										</span>
									</div>
								</div>
								<div id="dropbox" class="dropbox span6" ng-class="dropClass"><span>Déposez l'image</span></div>
							</div>
						</div>


						<div class="control-group">
							<div class="controls">
								<button class="btn btn-info" ng-click="updateAvatar();">Mettre à jour</button>
							</div>
						</div>

					</div>


					<div class="tab-pane" id="favoris">
						<div ng-show="user.bookmarks">
							<div class="light-separator"></div>
							<div ng-repeat="bookmark in user.bookmarks">
								<div class="row">
									<a href="#alveoles/{{bookmark.webapp.id}}"><img class="span2" ng-src="{{bookmark.webapp.image_url}}"/></a>
									<div class="span8">
										<h3><a href="#alveoles/{{bookmark.webapp.id}}">{{bookmark.webapp.title}}</a></h3>
										<h4>{{bookmark.webapp.caption}}</h4>
										<p>{{bookmark.webapp.description}}</p>
									</div>
								</div>
								<div class="light-separator"></div>
							</div>
						</div>
					</div>


					<div class="tab-pane" id="comments">
						<div ng-show="user.comments">
							<div class="light-separator"></div>
							<div ng-repeat="comment in user.comments">
								<div class="row">
									<aside class="span2">
										<div class="row">
										<div class="span2 text-center">
											<a href="#alveoles/{{comment.webapp.id}}"><img class="span2" ng-src="{{comment.webapp.image_url}}"/>
											<p class="span2 text-center">{{comment.webapp.title}}</p></a>
										</div>
										</div>
									</aside>
									<section class="span8">
									 	<span class="label pull-right">Le {{comment.created_at| date:'d/M/yyyy à HH:mm'}}</span>
									 	<div class="starsRatingShow">
											<i class="{{ {'rate':comment.rating, 'index':$index} | star}} icon-large"  ng-repeat="n in [] | range:5"></i>
										</div>
									 	<p>{{comment.body}}</p>
									 </section>
								</div>
								<div class="light-separator"></div>
							</div>
						</div>

						<div ng-show="!user.comments">Vous n'avez posté aucun commentaire :(</div>

					</div>
					<div class="tab-pane" id="suggestions">

						<div ng-show="user.webapps">
							<div class="light-separator"></div>
							<div ng-repeat="webapp in user.webapps">
								<div class="row">
									<a ng-show="webapp.validate" href="#alveoles/{{webapp.id}}"><img class="span2" ng-src="{{webapp.image_url}}"/></a>
									<img ng-hide="webapp.validate" class="span2" ng-src="{{webapp.image_url}}"/>
									<div class="span8">
										<div class="pull-right">
											Status : 
											<span class="label" ng-hide="webapp.validate">Pas encore validée...</span>
											<span class="label label-success" ng-show="webapp.validate">Validée ! </span>
										</div>
										<a ng-show="webapp.validate" href="#alveoles/{{webapp.id}}"><h3>{{webapp.title}}</h3></a>
										<h3 ng-hide="webapp.validate">{{webapp.title}}</h3>
										<h4>{{webapp.caption}}</h4>
										<p>{{webapp.description}}</p>
										<a class="btn btn-small" type="button" ng-show="webapp.validate" href="#alveoles/{{webapp.id}}">Voir la page</a>
									</div>
								</div>
								<div class="light-separator"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>