
<div class="container">
	<div class="row-fluid">
		<div id="alveolesList" class="span9">
			<div id="contentWrapper">
				<h2><img src="img/icon-team-selection.svg"> Alvéoles / {{subTitle}}</h2>
				<div ng-repeat="subcat in subcats"> 
					<h3>{{subcat.name}}</h3>

					<div class="alveoleWrap" ng-repeat="alveole in subcat.alveoles">
						<div class="alveole">
							<a href="#/alveoles/{{alveole.id}}">
								<img class="imgCarousel" ng-src="{{alveole | image}}" >
							</a>
							<h4 class="alveoleName">
								<a href="#/alveoles/{{alveole.id}}">
									{{alveole.title}}
								</a>
							</h4>
							<p class="alveoleDesc">
								{{alveole.caption}}
							</p>
							<div class="alveoleRating">
								<i class="{{ {'rate':alveole.average_rate, 'index':$index} | star}} icon-large"  ng-repeat="n in [] | range:5"></i> - {{alveole.comments.length}} avis
							</div>
							<div class="alveoleTagsWrapper">
								<i class="icon-bookmark"></i>
								<span ng-repeat="tag in alveole.tags" ng-click="search(tag.name)" class="tag">{{tag.name}}, </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="navLinks" class="span3">
			<a href="#/graph" class="btn">Exploration graphique</a>
			<h4><img src="img/icon-selection.svg">Sélection</h4>
			<ul class="noStyleList">
				<li ng-repeat="selectionCat in selectionCats"><span class="link" ng-click="changeFeat(selectionCat);">{{selectionCat.name}}</span></li>
			</ul>
			<h4><img src="img/icon-categories.svg">Catégories</h4>
			<ul class="noStyleList">
				<li ng-repeat="cat in cats"><span class="link" ng-click="changeCat(cat)">{{cat.name}}</span></li>
			</ul>
			<h4><img src="img/icon-tags.svg">Tags</h4>
			<ul class="noStyleList">
				<li ng-repeat="tag in tags"><span class="link" ng-click="search(tag.name)">{{tag.name}}</span></li>
			</ul>
		</div>
	</div>
</div>

