<div class="container-grey">
<div id="webappWrapper" class="container">
	<div class="container">
		<div class="row">
			<section class="span10 offset1 alveole-details">
				<!-- Image, vidéo -->
				<section class="row-fluid alveole-details-header">
					<div class="span6 left-header">
						<div class="tabbable">
							<ul class="nav nav-tabs" style="margin:0;" ng-show="webapp.vimeo_id">
								<li class="active"><a href="#video" data-toggle="tab">Vidéo</a></li>
								<li ng-class="{'active':!webapp.vimeo_id}"><a href="#image" data-toggle="tab">Image</a></li>
							</ul>
							<div class="tab-content" id="webapp-content-img">
								<div class="tab-pane" ng-class="{'active':webapp.vimeo_id}" id="video" ng-show="webapp.vimeo_id">
									<span ng-bind-html-unsafe='webapp.vimeo_id | vimeo'></span>
								</div>
								<div class="tab-pane" ng-class="{'active':!webapp.vimeo_id}" id="image">
									<div class="text-center relative" ng-mouseenter="showChangeImageLink = true" ng-mouseleave="showChangeImageLink = false">
										<img ng-src="{{webapp | image}}"/>
										<a id="changeImage" ng-href="#/alveoles/{{webapp.id}}/edit#editImagePanel" ng-show="showChangeImageLink && canEdit">
											Changer l'image
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Image and video tabs -->
					<article class="span6 right-header">
						<header class="row-fluid title-box">
							<h1 class="span8"><a href="{{webapp.url}}" target="_blank">{{webapp.title}}</a></h1>
							<div class="bookmark">
								<a ng-hide="webapp.bookmarked" ng-click="bookmark();">
									<img src="img/picto/picto-empty-heart-red.svg" alt="empty-heart-picto"> Mettre en favoris
								</a>
								<span ng-show="webapp.bookmarked">
									<a ng-click="unbookmark();" id="unbookmark-link" title="Supprimer">
										<img src="img/picto/picto-heart-red.svg" alt="heart-picto"> Dans vos favoris 
									</a>
								</span>
							</div>
						</header>
						<div class="row-fluid">
							<p class="span12 caption">{{webapp.caption}}</p>
							<ul class="info-list">
								<li><a ng-href="{{webapp.url}}" target="_blank"><img src="img/picto/picto-link-green.svg" alt="link-picto"> {{webapp.url}}</a></li>
								<li><i class="icon-eye-open icon-large"></i> Vu {{webapp.nb_click_preview + webapp.nb_click_detail}} fois</li>
								<li ng-show="canEdit"><a ng-href="#/alveoles/{{webapp.id}}/edit"><i class="icon-pencil icon-large"></i> Editer</a></li>
								<li ng-hide="canEdit"><i class="icon-pencil icon-large"></i> Proposé par : {{webapp.user.pseudo}}</li>
							</ul>
						</div>
						<!-- ./Caption -->
						<footer class="row-fluid">
							<div class="span4">
								<h4><img src="img/icon/icon-tags.svg"> Tags</h4>
								<ul class="tag-list">
									<li ng-repeat="tag in webapp.tags" >
										<a ng-href="#/alveoles/search/{{tag.name}}" class="tag"> {{tag.name}}</a>
									</li>
									<li ng-show="webapp.tags && !userAddTag">
										<a ng-click="userAddTag=true" ng-init="userAddTag=false" id="addTagLink" class="tag">
										<i class="icon-plus"></i></a>
									</li>
									<li ng-hide="webapp.tags">
										<a ng-click="userAddTag=true" id="addTagLink" class="tag"><i class="icon-plus"></i> Ajoutez le premier tag</a>
									</li>
								</ul>
								<span ng-show="userAddTag" class="input-append add-tag-form">
									<input type="text" placeholder="Votre tag" ng-model="newTag.name" id="inputTextTag" class="span6">
									<button class="btn" ng-click="submitTag(newTag)">Ok</button>
									<button class="btn" ng-click="userAddTag=false"><i class="icon-remove" ></i></button>
								</span>
							</div>
							<div class="span4" ng-show="facebook || twitter || webapp.gplus_id">
								<h4>Réseaux sociaux</h4>
								<ul class="social-networks-list">
									<li ng-show='facebook' class="facebook">
										<a href="{{facebook.link}}" target="_blank"><i class="icon-facebook icon-large icon-fixed-width facebook"></i> {{facebook.likes}} likes</a>
									</li>
									<li ng-show='twitter' class="twitter">
										<a href="https://twitter.com/{{webapp.twitter_id}}" target="_blank"><i class="icon-twitter icon-large icon-fixed-width twitter"></i> {{twitter}} followers</a>
									</li>
									<li ng-show='webapp.gplus_id' class="gplus">
										<a href="https://plus.google.com/{{webapp.gplus_id}}" target="_blank"><i class="icon-google-plus icon-large icon-fixed-width gplus"></i> Google Plus</a>
									</li>
								</ul>
							</div>
							<div class="span4">
								<h4><img src="img/picto/picto-share-green.svg" alt="share-picto"> Partagez sur...</h4>
								<ul class="share-list">
									<li>
															<a data-share='450339965057952' data-id="{{webapp.id}}" data-caption="{{webapp.caption}}" data-image="{{webapp.image_url}}" data-title="{{webapp.title}}">


											<img src="img/picto/picto-facebook-colored.svg" alt="facebook-picto" ng-click="share()">
										</a>
									</li>
									<li>
										<a target="_blank" href="https://twitter.com/intent/tweet?url={{webapp.url}}&amp;text={{webapp.title}}">  <!-- via={{webapp.twitter_id}} ? -->
										<img src="img/picto/picto-twitter-colored.svg" alt="twitter-picto">
										</a>
									</li>
									<li>
										<a target="_blank" href="https://plus.google.com/share?url={{webapp.url}}">
										
										</a>
										<a href="https://plus.google.com/share?url={{webapp.url}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;"> <img src="img/picto/picto-gplus-colored.svg" alt="gplus-picto"></a>
									</li>
								</ul>
							</div>
						</footer>
					</article>
				</section>
				<section class="row-fluid">
					<section class="span5 alveole-description">
						<div class="desc-header">
							<h3>Description</h3>
						</div>
						<p>{{webapp.description}}</p>
					</section>
					<!-- Comment box -->
					<section class="span7 alveole-comments nano-parent">
						<div class="nano">
						<div class="content">
							<header class="row-fluid comment-header">
								<h3 class="span8">Commentaires ({{webapp.comments.length}})</h3>
								<h4 class="starsRatingShow global-rating" id="starsRatingShowDesc" ng-show="webapp.average_rate">Note : {{webapp.average_rate|truncate:3:''}} /5 <i class="{{ {'rate':webapp.average_rate, 'index':$index} | star}} icon-large"  ng-repeat="n in [] | range:5"></i>
								</h4>
							</header>
							<!-- Comment form
							Displayed if no coment for current user
							-->
							<div class="row-fluid comment-form" ng-show="canComment">
								<table class="span12">
									<tr>
										<td><div id="label">Note :</div></td>
										<td>
											<div class="rating">
												<input type="radio" id="star5" name="rating" value="5" ng-model="comment.rating"/><label for="star5" title="Amazing !"></label>
												<input type="radio" id="star4" name="rating" value="4" ng-model="comment.rating"/><label for="star4" title="Cool !"></label>
												<input type="radio" id="star3" name="rating" value="3" ng-model="comment.rating"/><label for="star3" title="Pas mal"></label>
												<input type="radio" id="star2" name="rating" value="2" ng-model="comment.rating"/><label for="star2" title="Bof"></label>
												<input type="radio" id="star1" name="rating" value="1" ng-model="comment.rating"/><label for="star1" title="J'aime pas"></label>
											</div>
										</td>
									</tr>
								</table>
								<textarea id="textarea" rows="5" class="field span12 comment-textarea" ng-model="comment.body"
								placeholder="Que pensez vous de ce site ?"></textarea>
								<button type="button" class="btn"  ng-click="submitComment(comment)" ng-disabled="!comment.rating">Envoyer</button>
							</div>
							<!-- ./Comment form -->
							<div ng-show="commentUser" class="row-fluid my-comment">
								<h4 class="span12">Mon commentaire</h4>
								<aside class="span2">
									<img class="img-circle" ng-src="{{commentUser.user.image_url}}"/>
									<p>{{commentUser.user.pseudo}}</p>
									<div class="starsRatingShow">
										<i class="{{ {'rate':commentUser.rating, 'index':$index} | star}} icon-large"  ng-repeat="n in [] | range:5"></i>
									</div>
									<p>
										<i class="icon-large icon-pencil pointer-link" ng-click="editComment=true"></i>
											<i class="icon-large icon-trash pointer-link" ng-click="deleteComment(commentUser);"></i>
									</p>
								</aside>
								<section class="span9">
									<div class="row-fluid" ng-hide="editComment">
										<p class="pull-right comment-time">Le {{commentUser.created_at| date:'d/M/yyyy à HH:mm'}}</p>
									</div>
									<div ng-hide="editComment" ng-init="editComment=false" class="row-fluid">
										<p class="span12">{{commentUser.body}}</p>
										
									</div>
									<div ng-show="editComment" class="row-fluid">
										<textarea class="span12" type="text" rows="5" ng-model="commentUser.body" id="textAreaEditComment">{{commentUser.body}}</textarea>
										<button class="btn btn-small" ng-click="submitEditComment(commentUser);"><i class="icon-white icon-pencil"></i> Modifier</button>
									</div>
								</section>
							</div>
							<!-- ./User comment -->
							<div ng-show="webappHaveComments" class="row-fluid">
								<h4>Commentaires des autres utilisateurs</h4>
								<div ng-repeat="comment in webapp.comments" ng-hide="comment.user.id==user.id" class="row-fluid comment-item">
									<aside class="span2">
										<div class="text-center">
											<img class="img-circle" ng-src="{{comment.user.image_url}}"/>
											<p>{{comment.user.pseudo}}</p>
											<div class="starsRatingShow">
												<i class="{{ {'rate':comment.rating, 'index':$index} | star}} icon-large"  ng-repeat="n in [] | range:5"></i>
											</div>
										</div>
									</aside>
									<section class="span9">
										<div class="row-fluid">
											<span class="pull-right comment-time">Le {{comment.created_at| date:'d/M/yyyy à HH:mm'}}</span>
										</div>
										<div class="row-fluid">
											<p>{{comment.body}}</p>
										</div>
									</section>
								</div>
							</div>
							</div> <!-- ./content -->
						</div>
						</section>
					</div>
				</section>
				<!-- ./Comment list -->
			</section>
		</div>
	</div>
</div>
</div>
