<!doctype html>
<html lang="fr" ng-app="alveolus">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AlveolUs</title>
  <link rel="icon" type="image/png" href="img/favicon.png" />
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css" >
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/webapp.css"/>
  <link rel="stylesheet" href="css/feedback.css"/>
  <link rel="stylesheet" href="css/FontAwesome/css/font-awesome.min.css"> <!-- Ajout d'icones à bootstrap -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'><!-- police Open Sans -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>-->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-cookies.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/sessionService.js"></script>
  <script src="js/services/webappService.js"></script>
  <script src="js/services/categoryService.js"></script>
  <script src="js/services/commentService.js"></script>
  <script src="js/services/socialService.js"></script>
  <script src="js/services/feedbackService.js"></script>
  <script src="js/services/tagService.js"></script>
  <script src="js/services/userService.js"></script>
  <script src="js/controllers/homeCtrl.js"></script>
  <script src="js/controllers/mainCtrl.js"></script>
  <script src="js/controllers/webappCtrl.js"></script>
  <script src="js/controllers/addWebappCtrl.js"></script>
  <script src="js/controllers/editWebappCtrl.js"></script>
  <script src="js/controllers/webAppListCtrl.js"></script>
  <script src="js/controllers/userCtrl.js"></script>
  <script src="js/controllers/addUserCtrl.js"></script>
  <script src="js/controllers/voteCtrl.js"></script>
  <script src="js/filters/filters.js"></script>
  <script src="js/directives/directives.js"></script>

</head>

<body ng-controller="MainCtrl">
  <div id="mainContainer">
    <div id="headerCarousel">
      <img id="headerImgCarousel" src="img/img.jpg" alt="imgCarrousel">
    </div>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" ng-href="#">
            <img src="img/logo_home.svg" type="image/svg+xml" alt="AlveolUs"/>
          </a>

          <div id="searchNavbar" class="input-append navbar-search">
            <form name="myForm" ng-submit="search(searchContent)">
              <input id="searchInput" class="span2" type="text" ng-model="searchContent" placeholder="Entrez une recherche">
              <span class="add-on link" ng-click="search(searchContent)">
                <i class="icon-search"></i>
              </span>
            </form>
          </div>
          <div class="nav-collapse collapse">
           <ul class="nav pull-right">
             <li class="divider-vertical"></li>
             <li><a ng-href="#/alveoles/new"><i class="icon-plus icon-white"></i> Soumettre une Alvéole</a></li>
             <li class="divider-vertical"></li>
             <li><a ng-href="#/vote"><i class="icon-leaf icon-white"></i> Modérer les alvéoles</a></li>
             <li class="divider-vertical"></li>
             <li><a ng-href="#/vote"><i class="icon-eye-open icon-white"></i> À propos d'AlveolUs</a></li>
             <li class="divider-vertical"></li>
             <li><a ng-show="isLogged" ng-href="#/user"><i class="icon-user icon-white"></i> Mon compte</a></li>
             <li class="divider-vertical"></li>
             <li>
              <a ng-hide="isLogged" ng-click="openModalLogin()"><i class="icon-user icon-white"></i> Connexion</a>
              <a ng-show="isLogged" ng-click="sign_out()"><i class="icon-remove icon-white"></i> Déconnexion</a>
            </li>
            <li class="divider-vertical"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a ng-click="openModalFeedback()" id="feedback_link" class="feedback_link left"></a>
  <div class="row-fluid">
   <div class="offset1 span10">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>
<div data-facebook='450339965057952'>
  <div id="fb-root"></div>
  <div>
    <a href='#' data-ng-click='fetch()' class='btn btn-primary'>fetch</a> {{login_status}}
  </div>
</div>
<div ng-view></div>
</div>

<div ng-include src="'fragment/modal-login.html'"></div>

<div ng-include src="'fragment/modal-feedback.html'"></div>

<div ng-include src="'fragment/footer.html'"></div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>

</body>
</html>
